













*               {       box-sizing: border-box;         }




body            {       height: 100vh;
                        width: 100%;

                        display: flex;

                        flex-direction: column;

                        margin: 0;

                        background-color: white;        }


p               {       margin: 0;                        }









/*  Navigation  */

.nav            {       height: 4em;       
                        /* width: 100%; */

                        justify-content: center;

                        border-bottom: 1px solid whitesmoke;

                        background-color: silver;       }


.nav ul         {       margin: 0;                           

                        padding: 0 ;                      }


.nav li         {       display: flex;

                        flex-direction: row;             

                        margin: 0;                           

                        padding: 0;                      }


.nav li a       {       color: black;                   }
.nav li a:hover
                {       color: black;                   }






/*  Google Banner  */

.title          {       font-size: 20px;
                        font-family: Arial,sans-serif;

                        color: #f28b82;                 }







/*  Google Image  */

.banner         {       height: 15em;   
                        width: 100%;

                        display: flex;

                        flex-direction: column;

                        justify-content: space-around;
                        align-items: center;  

                        margin-top: 5em;

                        padding: 0.85em;            }


.googImg        {       height: 5em;                
                        width: 5em;               
  
                        padding: 0.15em; 

                        border: 0.1px white solid;          
                        border-radius: 50px;        

                        background-color:white;   }





/*  Search Form  */

.search         {       height: 12em;       
                        width: 100%;

                        display: flex;

                        flex-direction: column;

                        justify-content: center;
                        align-items: center;        

                        padding: 0.85em;            

                        border-radius: 5px;         }


.forms          {       height: 100%;
                        min-height: 5em;       
                        width: 100%;

                        display: flex;

                        flex-direction: column;

                        justify-content: space-around;
                        align-items: center;        }




.search_bar     {       height: 34px;
                        min-width: 484px;

                        padding: 0.5em 0.85em;

                        border-radius: 24px;         }


.submit_button  {       height: 2.25em;
                        width: 150px;

                        border-radius: 4px;          }


.button_wrap
                {       width: 30em;

                        display: flex;              

                        flex-direction: row; 

                        justify-content: space-around;
                        align-items: center;        }




/*  Advanced Search Form  */



.adv            {       width: 30em;

                        display: flex;              

                        flex-direction: row;     

                        justify-content: space-between;
                        align-items: center;  

                        margin-bottom: 2.5em;    

                        }


.adv_button_wrap
                {       width: 30em;

                        display: flex;              

                        flex-direction: row; 

                        justify-content: end;
                        align-items: center;        


                        margin-top: 3.5em;      }


.as_q   ,
.as_epq ,
.as_oq  ,
.as_eq          {       padding: 0.05em 0.35em;

                        border: none;          

                        color: #bdc1c6;         }











.adv_search     {       height: 35em;       
                        width: 100%;

                        display: flex;

                        flex-direction: column;

                        justify-content: center;
                        align-items: center;       

                        text-align: left;

                        padding: 0.85em;            

                        border-radius: 1px;         }








.adv_forms      {       height: auto;   
                        width: 100%;

                        display: flex;

                        flex-direction: column;

                        justify-content: center;
                        align-items: center;                }


.adv_submit_button  
                {       height: 30px;
                        min-width: 120px;

                        border: 1px solid #3079ed;
                        border-radius: 2px;      

                        box-shadow: none;

                        font-size: 11px;
                        font-weight: bold;

                        color: white;

                        background-color: #8ab4f8;      }
